# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# test output
/coverage

# misc
.DS_Store
__MACOSX/
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
